@page
@model HR_DBMS.Pages.PersonalMang.RequestsModel
@using System.Data;
@{
    Layout = "_LayoutPersonalMang";
}

<h1> Requests Page</h1>
<div class="datatable-container">
    <table class="table table-borderless datatable datatable-table">
        <thead>
            <tr>
                <th data-sortable="true" style="width: 5%">
                    <a href="#" class="datatable-sorter">#</a>
                </th>
                <th data-sortable="true" style="width: 10%">
                    <a href="#" class="datatable-sorter">Name</a>
                </th>
                <th data-sortable="true" style="width: 10%">
                    <a href="#" class="datatable-sorter">Type</a>
                </th>
                <th data-sortable="true" style="width: 40%">
                    <a href="#" class="datatable-sorter">Description</a>
                </th>
                <th data-sortable="true" style="width: 10%">
                    <a href="#" class="datatable-sorter">Status</a>
                </th>
                    <th data-sortable="true" style="width: 20%">
                    <a href="#" class="datatable-sorter">Action</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DataRow dr in Model.Requests.Rows)
                {
                    <tr>
                        <td>#@dr[0]</td>
                        <td><a href="#" class="text-primary">@dr[4]</a></td>
                        <td>@dr[1]</td>
                        <td>@dr[3]</td>
                        
                        @if (dr[2].ToString() == "Pending")
                        {
                            <td><span class="badge bg-info">@dr[2]</span></td>
                            <td>
                                <div class="btn-group">
         
                            <form method="post">
                                        <button asp-page-handler="Approve" asp-page-handler="approve" class="btn btn-link" asp-route-id=@dr[0]>Approve</button>

                                        <button asp-page-handler="Decline" class="btn btn-link" asp-route-id=@dr[0]>Decline</button>
                                    </form></div></td>
                         }
                        else
                        {
                           <td><span class="badge bg-success">@dr[2]</span></td>
                            <td>No Action</td>
                        }
                        
 
                        
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
