@page
@model HR_DBMS.Pages.Employee.ProfileModel
@{
    Layout = "_LayoutEmployee";
}

<h3>Profile Data</h3>


<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <input hidden asp-for="@Model.ID" class="form-control" />
                    <img src="~/img/profile-img.jpg"
                         alt="Profile"
                         class="rounded-circle" />
                    <h2>@Model.Name</h2>
                    <h3>@Model.Job</h3>

                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-overview"
                                    aria-selected="true"
                                    role="tab">
                                Overview
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link "
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-edit"
                                    aria-selected="false"
                                    tabindex="-1"
                                    role="tab">
                                Edit Profile
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link "
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password"
                                    aria-selected="false"
                                    tabindex="-1"
                                    role="tab">
                                Change Password
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview"
                             id="profile-overview"
                             role="tabpanel">


                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Full Name</div>
                                <div class="col-lg-9 col-md-8">@Model.Name</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Age</div>
                                <div class="col-lg-9 col-md-8">
                                    @Model.age
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Job</div>
                                <div class="col-lg-9 col-md-8">@Model.Job</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Team</div>
                                <div class="col-lg-9 col-md-8">@Model.Team</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Address</div>
                                <div class="col-lg-9 col-md-8">
                                    @Model.address
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.email</div>
                            </div>
                        </div>






                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Documents</h5>

                                    <!-- Table with stripped rows -->
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Size</th>


                                            </tr>
                                        </thead>
                                        <tbody>


                                            @for (int i = 0; i < Model.documents.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <th scope="row">@(i + 1)</th>
                                                    @for (int j = 0; j < 3; j++)
                                                    {
                                                        <td>@Model.documents.Rows[i][j]</td>
                                                    }

                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                    <!-- End Table with stripped rows -->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Bordered Tabs -->
                </div>
            </div>
        </div>

    </div>
</section>
