@page
@model HR_DBMS.Pages.Employee.RequestModel
@{
	Layout = "_LayoutEmployee";
}

<section class="section register  d-flex flex-column align-items-center justify-content-center py-4">
        <div class="col-lg-9 center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Make a Request</h5>

              <!-- Multi Columns Form -->
             <form class="row g-3 needs-validation" novalidate method="post">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Type</label>
                        <select id="inputState" class="form-select" asp-for="@Model.Type">
                        <option selected>Complaint</option>
                        <option>Day off</option>
                        <option>Leave</option>
                        <option>Late arrival</option>
                        <option>Vacation</option>
                        <option>Salary</option>
                        <option>Bonus</option>
                        <option>Promotion</option>
                        <option>Training</option>
                        <option>Others</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="inputDescription" class="form-label">Description</label> <span class="text-danger"> *</span>
                    <input type="text" class="form-control" id="inputDescription" aria-describedby="inputGroupPrepend" required placeholder="Enter your request description" asp-for="@Model.Description">
                    <span asp-validation-for="Description" class="text-danger"></span> 
                        <div class="invalid-feedback">
                            <h6>Please Provide a Description</h6>
						</div><br /><br />
                </div>
                 
                
                <div class="text-center">
                        <!--<button type="button" class="btn btn-outline-secondary m-2  float-end" asp-route-id="@Model.ID" asp-page-handler="Cancel">Cancel</button> -->
                    <a class="btn btn-outline-secondary m-2  float-end" asp-route-id="@Model.ID" asp-page="/Employee/Home">Cancel</a>
                    <button type="reset" class="btn btn-secondary float-end m-2">Reset</button>
                    <button type="submit" class="btn btn-primary m-2 float-end" asp-route-id="@Model.ID" asp-page-handler="Submit">Submit</button>
                </div>
                <input hidden asp-for="@Model.ID" />
              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
</section>