@page
@model HR_DBMS.Pages.Employee.TrainingModel
@{
	Layout = "_LayoutEmployee";
}

<div>
@*<body>
    <div class="row">
            <i style="font-size:20px;">Available Trainings</i>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.availableTrainings.Rows.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.availableTrainings.Columns.Count; j++)
                            {
                                <td>@Model.availableTrainings.Rows[i][j]</td>
                            }
                            <td>
                                <!-- change btn if employee already in the training? -->
                                <a class="btn btn-outline-secondary" asp-page="/Employee/ProjectDetails" asp-route-id="@Model.previousTrainings.Rows[i][0]">view</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <br />
    <br />
    <br />
    <div>
        <i style="font-size:20px;">Previous Trainings</i>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.previousTrainings.Rows.Count; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.previousTrainings.Columns.Count; j++)
                        {
                            <td>@Model.previousTrainings.Rows[i][j]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>*@
</div>

<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Available Trainings</h5>
              <div class="header float-end col-5">
              <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword" asp-for="@Model.search">
                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
              </div>
              </div>
              
              <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.availableTrainings.Rows.Count == 0)
                            {
                                <tr>
                                    <td class="datatable-empty" colspan="5">
                                        No Enteries Found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @for (int i = 0; i < Model.availableTrainings.Rows.Count; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < Model.availableTrainings.Columns.Count; j++)
                                        {
                                            <td>@Model.availableTrainings.Rows[i][j]</td>
                                        }
                                        <td>
                                            <!-- change btn if employee already in the training? -->
                                            @*<a class="btn btn-outline-secondary" asp-route-id="@Model.availableTrainings.Rows[i][0]">Join</a>*@
                                            <!-- how to join training without redirecting to another page?-->
                                        </td>
                                    </tr>
                                }
                            }
                            <button class="btn btn-outline-info" asp-for>Join</button>
                        </tbody>
              </table>
              
            </div>
          </div>
        </div>

        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Previous Trainings</h5>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.previousTrainings.Rows.Count == 0)
                            {
                                <tr>
                                    <td class="datatable-empty" colspan="5">
                                        No Enteries Found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @for (int i = 0; i < Model.previousTrainings.Rows.Count; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < Model.previousTrainings.Columns.Count; j++)
                                        {
                                            <td>@Model.previousTrainings.Rows[i][j]</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
      </div>
</section>