@page
@model HR_DBMS.Pages.RecruitmentMang.EmployeesModel
@{
	Layout = "_LayoutRecruitmentMang";
}
@*<h1>@Model.Employees_table.Rows.Count</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search for an Employee</h5>

            
        <form class="row g-3">
        <div class="col-md-2">
            <class="form-label">Name</>
            <input type="text" class="form-control"  >
        </div>
        <div class="col-md-2">
            <class="form-label">ID</>
            <div class="input-group">
            <input type="number" class="form-control" >
            </div>
        </div>
        <div class="col-md-2">
            <class="form-label">Status</>
            <input type="text" class="form-control" >
        </div>
    <div class="col-md-3">
        <class="form-label">email</>
        <input type="email" class="form-control" >
    </div>
        <div class="col-md-2">
            <class="form-label">Team</>
            <input type="text" class="form-control" >
        </div>
       
        <div class="col-2">
            <button class="btn btn-primary" type="button">Search</button>
        </div>
    <div class="col-2">
        <button class="btn btn-primary" type="reset">Reset</button>
    </div>
        </form>
             

    </div>
    </div>

</div>
*@


@*<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employees Table</h5>
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">email</th>
                        <th scope="col">Team</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
             
                <tbody>
                    @for (int i = 0; i < Model.Employees_table.Rows.Count; i++)
                    {
                        <tr>
                            
                            @for (int j = 0; j < 5; j++)
                            {


                                <td>@Model.Employees_table.Rows[i][j]</td>

                            }
                            <td><a class="btn btn-outline-info" asp-page="/RecruitmentMang/EditEmployee" asp-route-id="@Model.Employees_table.Rows[i][0]"><i class="fas fa-user"></i> Edit</a></td>

                        </tr>
                    }



                </tbody>
            </table>
            <div class="col-2">
                <button class="btn btn-primary" type="button">Add</button>
            </div>
        </div>
    </div>*@


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Employees table</h5>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">email</th>
                    <th scope="col">Team</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                 
                     @for (int i = 0; i < Model.Employees_table.Rows.Count; i++)
                    {
                        <tr>
                            
                            @for (int j = 0; j < 5; j++)
                            {


                                <td>@Model.Employees_table.Rows[i][j]</td>

                            }
                            <td><a class="btn btn-outline-info" asp-page="/RecruitmentMang/EditEmployee" asp-route-id="@Model.Employees_table.Rows[i][0]"><i class="fas fa-user"></i> Edit</a></td>

                        </tr>
                    }
                </tr>
                
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>

        </div>
      </div>
    </section>

