@page
@model HR_DBMS.Pages.TrainingMang.Create_TrainingModel
@{
    Layout = "_LayoutTrainingMang";
}

<section class="section">
    <div class="row">
        <div class="col-xxl-14">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Training</h5>

                    <!-- Custom Styled Validation -->
                    <form class="row g-3 "  method="post">
                        <div class="col-xxl-12">
@*                            //<label for="validationCustom01" class="form-label">Name</label>
*@                            <input type="text" class="form-control" id="validationCustom01" placeholder="@Model.Train_name"  required asp-for="@Model.Train_name">
                            @*<div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Provide a Name
                            </div>*@
                        </div>
                        <br />
                        <div class="col-xxl-12">
                            <label for="validationCustomUsername" class="form-label">Description</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required asp-for="@Model.Train_description">
                                <div class="invalid-feedback">
                                    Please Provide a Description
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-6">
                            <label for="validationCustom03" class="form-label">Location</label>
                            <input type="text" class="form-control" id="validationCustom03" required asp-for="@Model.Train_location">
                            <div class="invalid-feedback">
                                Please provide a valid Location.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="validationCustom05" class="form-label">Time</label>
                            <input type="time" class="form-control" id="validationCustom05" required asp-for="@Model.Train_time">
                            <div class="invalid-feedback">
                                Please provide a valid time.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="validationCustom03" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="validationCustom03" required asp-for="@Model.Train_start_date">
                            <div class="invalid-feedback">
                                Please provide a valid Date.
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label for="validationCustom03" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="validationCustom03" required asp-for="@Model.Train_end_date">
                            <div class="invalid-feedback">
                                Please provide a valid Date.
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit" asp-page-handler="Update">Update</button>

                            <button class="btn btn-danger" type="submit" asp-page-handler="Cancel">Cancel</button>
                        </div>
                    </form><!-- End Custom Styled Validation -->

                </div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <form method="post">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" asp-for="@Model.Train_name">
                <span asp-validation-for="@Model.Train_name"> </span> <br />
            </div>
            <br />
            <div class="form-group">
                <input type="text " class="form-control" placeholder="Location" asp-for="@Model.Train_location">
                <span asp-validation-for="@Model.Train_location"> </span> <br />
            </div>
            <br />
            @*<div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.dt.Rows[0][3]" asp-for="@Model.UserName">
                <span asp-validation-for="@Model.UserName"> </span> <br />
            </div>
            <br />
            <div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.dt.Rows[0][4]" asp-for="@Model.PassWord">
                <span asp-validation-for="@Model.PassWord"> </span> <br />
            </div>
            <br />
            <div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.dt.Rows[0][5]" asp-for="@Model.UserType">
                <span asp-validation-for="@Model.UserType"> </span> <br />
            </div>
            <br />*@


            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</section>