@page
@model HR_DBMS.Pages.TrainingMang.TrainingsModel
@{
    Layout = "_LayoutTrainingMang";

}
<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Current Trainings</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.CurrTraining_times.Rows.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                        @for(int j = 1; j < 7; j++)
                        {
                            
                               
                                <td>@Model.CurrTraining_times.Rows[i][j]</td>
                            
                        }
                            <td><a class="btn btn-outline-info" asp-page="/TrainingMang/Training_detail" asp-route-id="@Model.CurrTraining_times.Rows[i][0]"><i class="fas fa-user"></i> View</a></td>

                        </tr>
                    }
                    
                    

                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>

</div>

<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Previous Trainings</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PrevTraining_times.Rows.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            @for (int j = 1; j < 7; j++)
                            {


                                <td>@Model.PrevTraining_times.Rows[i][j]</td>

                            }
                            <td><a class="btn btn-outline-info" asp-page="/TrainingMang/Training_detail" asp-route-id="@Model.PrevTraining_times.Rows[i][0]"><i class="fas fa-user"></i> View</a></td>

                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>

</div>